<div class="flex">
  <button
    type="button"
    class="btn btn add-btn"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Add Product
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody *ngFor="let product of products">
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category }}</td>
      <td>
        <div class="d-flex">
          <button (click)="deleteEntry(product.id)" class="btn delete-btn">
            delete
          </button>
          <button (click)="updateShow()" class="btn edit-btn">edit</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="isShow">
      <td>
        <form>
          <div class="form-group">
            <label for="producttitle">Enter Product Title</label>
            <input
              type="text"
              ngModel
              name="title"
              class="form-control"
              id="producttitle"
              aria-describedby="emailHelp"
              placeholder="Enter title"
            />
          </div>
          <div class="form-group">
            <label for="productprice">Price</label>
            <input
              type="text"
              ngModel
              name="price"
              class="form-control"
              id="productprice"
              placeholder="Enter Price"
            />
          </div>

          <div class="form-group">
            <label for="productcategory">Category</label>
            <input
              type="text"
              ngModel
              name="category"
              class="form-control"
              id="productcategory"
              placeholder="Enter Category"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Enter Product Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #usersForms="ngForm"
          (ngSubmit)="getUserFormData(usersForms.value)"
        >
          <h2 *ngIf="successMsg">Product Added Successfully</h2>
          <div class="form-group">
            <label for="producttitle">Enter Product Title</label>
            <input
              type="text"
              ngModel
              name="title"
              class="form-control"
              id="producttitle"
              aria-describedby="emailHelp"
              placeholder="Enter title"
            />
          </div>
          <div class="form-group">
            <label for="productprice">Price</label>
            <input
              type="text"
              ngModel
              name="price"
              class="form-control"
              id="productprice"
              placeholder="Enter Price"
            />
          </div>

          <div class="form-group">
            <label for="productcategory">Category</label>
            <input
              type="text"
              ngModel
              name="category"
              class="form-control"
              id="productcategory"
              placeholder="Enter Category"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="restModal()"
            >
              Close
            </button>
            <button class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
