.delete-btn {
  background-color: red;
  color: white;
  margin-right: .3rem;
}
.delete-btn:hover {
  background-color: brown;
}

.edit-btn {
  background-color: rgb(237, 168, 65);
  color: white;
}

.edit-btn:hover {
  background-color: RGB(247 152 10);
}

.add-btn{
  float: right;
  background-color: green;
  color: white;
}
.add-btn:hover{
  background-color: darkgreen;
}